<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <h1>This is the home page for TodoList Web App!</h1>

        <div>
            <ul>
                <% for (let i of task_list){ %>
                    <li>
                        <p> <%= i.task %> </p>
                    </li>
                <% } %>
            </ul>
            
        </div>

        <form action="/create-task" method="POST">
            <input type="text" name="task" placeholder="Enter the task here!">
            <button type="submit">Create Task</button>
        </form>
    </body>
</html>