<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/home.css">
        
    </head>

    <body>
        <div class="hero">
            <div class="container">
                <h1 class="text-center display-2">TodoList</h1>
                <p class="lead text-center">Pradnyesh Aglawe welcomes you to his TodoList Application!</p>
                <div class="row">
                    <form id="form" action="/create-task" method="POST" class="col-8 mx-auto">
                        <div class="input-group">
                          <input id="input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the Task Here...">
                          <span>
                            <button id="btn" type="submit" class="btn btn-primary">Create Task</button>
                          </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <ul id="list" class="col-8 mx-auto">
                        <% for (let i of task_list){ %>
                            <li>
                                <span> <%= i.task %> </span>
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        

        

        <!-- <script type="text/javascript">
            window.onload = function(){
                var form = document.getElementById('form');
                var input = document.getElementById('input');
                var btn = document.getElementById('btn');
                var list = document.getElementById('list');
                var id = 1;

                // Button Event Listener
                btn.addEventListener('click', AddTodoItem){

                }
            }
        </script> -->
    </body>
</html>